<div class="map-container">
    <div class="map-frame">
         <div id="map">
          <div class="legend">
               <p>SV INDEX LEGEND</p>
               <div class="dot" style="background-color: #277da1"></div>  0.9 - 1 <br>
               <div class="dot" style="background-color: #577590"></div>  0.8 - 0.9 <br>
               <div class="dot" style="background-color: #4d908e"></div>  0.7 - 0.8 <br>
               <div class="dot" style="background-color: #43aa8b"></div>  0.6 - 0.7 <br>
               <div class="dot" style="background-color: #90be6d"></div>  0.5 - 0.6 <br>
               <div class="dot" style="background-color: #f9c74a"></div>  0.4 - 0.5 <br>
               <div class="dot" style="background-color: #f98c55"></div>  0.3 - 0.4 <br>
               <div class="dot" style="background-color: #f76c21"></div>  0.2 - 0.3 <br>
               <div class="dot" style="background-color: #f73422"></div>  0.1 - 0.2 <br>
               <div class="dot" style="background-color: #a20407"></div>  0 - 0.1
          </div>
         </div>
    </div>
</div>
